 <widget id="com.example.firstapp" version="0.0.1">
        <name>Traffic Control</name>
        <description>
            Удаленное управление светофором
        </description>
        <author email="iskander@washme.su" href="http://iskander.me">
            Iskander Khairullin
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
    </widget>